generator client {
  provider = "prisma-client-js"
}

datasource db {
  provider = "postgresql"
  url      = env("DATABASE_URL")
}

model XYZ {
  #se generaran todos tus modelos al dar pull con prisma (leer readme)
}
